@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #121318, #0F1B31 );
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.donate h3, h2, h1 {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.donate h3 strong {
  color: #375DFE;
}

.modal-text h3 {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.modal-text a {
  text-decoration: underline;
}